run/
results/
logger/
ckpt/
model/__pycache__
model/network/__pycache__
model/metric/__pycache__
model/loss/__pycache__
/__pycache__
.vscode/
/data/raw_data
/data/real_data
/data/synthetic_data
/data/synthetic_filtered.h5
/data/processed_data_batch_1.pkl
/data/processed_data_batch_2.pkl
/data/processed_data_batch_3.pkl
/data/processed_data_batch_4.pkl
/data/processed_data_batch_5.pkl
/data/processed_data_batch_6.pkl
/data/processed_data_batch_7.pkl
/data/processed_data_batch_8.pkl
/data/synthetic.h5
/data/synthetic_filtered.h5
/data/synthetic_v2.h5
nni_pids.txt
nohup.out